body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f3f7fc;
  color: #333;
}

.container {
  margin: auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.card-container {
  max-width: 80%;
  margin: auto;
  padding-top: 10px;
}

.card-left {
  max-width: 60%;
  margin: auto;
  margin-bottom: 25px;
}

.header {
  display: flex;
  max-width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
}

.live-loudness {
  font-size: 60px;
  font-weight: bold;
  color: #f54770;
  text-align: center;
}

.status-badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  text-transform: capitalize;
}

.status-badge.quiet {
  background-color: #d1f7e9;
  color: #23a56f;
}

.status-badge.moderate {
  background-color: #fff5c2;
  color: #c49400;
}

.status-badge.loud {
  background-color: #ffdada;
  color: #e0003c;
}

.status-badge.unknown {
  background-color: #ddd;
  color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

th,
td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.monitor-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.monitor-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}


.current-status {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  margin-top: 20px;
}

.controls-sides {
  width: 50%;
}

.controls-left {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.select-box {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.set-btn {
  color: white;
  background-color: #333;
}

.controls-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.controls-sides {
  width: 100%;
}

.control-label {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

/* color bar */
.loudness-bar-container {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.loudness-bar-bg {
  width: 70%;
  height: 16px;
  background: linear-gradient(to right, #00c853, #ffc107, #ff1744);
  border-radius: 10px;
  position: relative;
  margin: 10px 0;
  overflow: hidden;
}

.loudness-bar-fill {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 0%;
  border-radius: 10px;
  transition: width 0.5s ease;
}

.logo-img {
  width: 65px;
}

.lordicon {
  width: 60px;
  height: 60px
}

.settings-btn {
  background: none;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.lucide-settings-icon {
  width: 40px;
  height: 40px;
}

.live-monitoring-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 1024px) {
  .header {
    max-width: 100%;
  }

  .card-container {
    max-width: 100%;
  }

  .card-left {
    max-width: 100%;
  }
}

/* Responsive layout tweaks */
@media (max-width: 768px) {

  .controls {
    flex-direction: column;
    gap: 20px;
  }

  .controls-sides {
    width: 100%;
  }

  .controls-left {
    flex-direction: column;
    align-items: flex-start;
  }

  /* .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  } */

  .live-loudness {
    font-size: 40px;
  }

  h1,
  h2 {
    font-size: 20px;
  }

  .control-label {
    font-size: 16px;
  }

  button,
  .select-box {
    width: 100%;
    font-size: 14px;
  }

  .loudness-bar-bg {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 12px;
  }

  .card {
    padding: 16px;
  }

  .current-status {
    font-size: 16px;
    font-weight: 500;
  }

  .logo-img {
    width: 45px;
  }

  .lucide-settings-icon {
    width: 30px;
    height: 30px;
  }
}

.filter-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #f9fbfd;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #dce3ec;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.filter-group {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.filter-btn-container {
  display: flex;
  gap: 10px;
}

.filter-btn {
  flex: 1;
}

.filter-group label {
  margin-bottom: 4px;
  font-weight: 500;
}

.filter-group input,
.filter-group select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.filter-form button,
.filter-form a.reset-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.filter-form button {
  background-color: #2563eb;
}

.filter-form a.reset-btn {
  background-color: #94a3b8;
}

@media (max-width: 480px) {
  .filter-container {
    flex-direction: column;
    gap: 10px;
  }

  .filter-group {
    width: 100%;
  }

  .filter-group input {
    width: 94%;
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 12% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 700px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin-top: 0;
  font-size: 30px;
}

.modal-content input {
  width: 95%;
  padding: 10px 0px 10px 10px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-content .save_notification {
  background-color: #23a56f;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 6px;
}

.modal-content .save_notification:hover {
  background-color: #1c8459;
}

.close {
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}

.labels {
  font-size: 20px;
}

@media (max-width: 480px) {
  .modal-title {
    font-size: 22px;
  }

  .labels {
    font-size: 15px;
  }
}

/* .toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  top: 50px;
} */

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

.toast.success {
  background-color: #4CAF50;
}

.toast.error {
  background-color: #f44336;
}